<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forex Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Real-Time Forex Data</h1>
    <div id="forex-chart"></div>
    <script>
        async function fetchData() {
            const response = await fetch('/forex_data');
            const data = await response.json();
            
            console.log(JSON.stringify(data));

            const results = data.results[0];
            
            const timestamps = data.results.map(result => new Date(result.t));
            const open = data.results.map(result => result.o);
            const high = data.results.map(result => result.h);
            const low = data.results.map(result => result.l);
            const close = data.results.map(result => result.c);
            
            Plotly.newPlot('forex-chart', [{
                x: timestamps,
                open: open,
                high: high,
                low: low,
                close: close,
                type: 'candlestick',
                xaxis: 'x',
                yaxis: 'y'
            }], {
                title: 'EUR/USD Exchange Rate',
                xaxis: {
                    title: 'Time'
                },
                yaxis: {
                    title: 'Exchange Rate'
                }
            });
        }

        //async function fetchPrediction() {
        //    const response = await fetch('/predict');
        //    const prediction = await response.json();
        //    document.getElementById('prediction').innerText = `Predicted Exchange Rate: ${prediction.prediction}`;
        //}

        fetchData();
        //fetchPrediction();
        //setInterval(fetchData, 60000);  // Refresh data every 60 seconds
    </script>
</body>
</html>
